# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
notetaker.egg-info/dependency_links.txt
notetaker.egg-info/PKG-INFO
notetaker.egg-info/SOURCES.txt
notetaker.egg-info/top_level.txt
notetaker.egg-info/requires.txt
*.pyc
notetaker.egg-info/entry_points.txt
